{% extends 'base.html.jinja' %}

{% block title %}
{{ anime.name }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/styles/anime.css" />
{% endblock %}

{% block content %}
<h1 class="title">{{ anime.russian }} / {{ anime.name }}</h1>
<div class="poster">
    <img src="{{ anime.poster }}">
</div>

<div class="info">
    <h2>Информация</h2>
    <div>Эпизоды:
        {% if anime.episodes_aired == 0 or anime.episodes_aired == anime.episodes %}
        {{ anime.episodes }}

        {% elif anime.episodes_aired and anime.episodes == 0 %}
        {{ anime.episodes_aired }} / ?

        {% else %}
        {{ anime.episodes_aired }} / {{ anime.episodes }}
        {% endif %}
    </div>
    <div>Длительность эпизода: {{ anime.duration }} мин.</div>
    <div class="description">
        <h2>Описание</h2>
        <div>{{ anime.description }}</div>
    </div>
</div>

{% endblock %}
